body {
    background-color: rgb(33, 33, 33);
}

.box {
    color: rgb(255, 170, 40);
    background-color: rgb(51, 51, 51);
    padding: 0.5rem;
    height: 33vw;
}

.box .status {
    font-size: 3rem;
    text-align: center;
}

button {
    border: 2px solid rgb(255, 170, 40);
    color: rgb(255, 170, 40);
    background-color: transparent;
    outline: none;
}

input {
    border: 2px solid rgb(255, 170, 40);
    color: rgb(255, 170, 40);
    outline: none;
    background-color: transparent;
}

.active.status-icon {
    border-radius: 50%;
    border: 2px solid rgb(255, 170, 40);
    background-color: rgb(255, 170, 40);
    width: 15vw;
    height: 15vw;
    color: rgb(51, 51, 51);
    font-size: 3rem;
    position: relative;
    text-align: center;
    margin: auto;
}

.inactive.status-icon {
    border-radius: 50%;
    border: 2px solid rgb(255, 170, 40);
    background-color: rgb(51, 51, 51);
    width: 15vw;
    height: 15vw;
    color: rgb(255, 170, 40);
    font-size: 3rem;
    position: relative;
    text-align: center;
    margin: auto;
}

.status-icon div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: rgb(137, 137, 137);
    text-align: center;
}